/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */
.nav {
    background-color: green;
    color: white;
}
.form {
    display: flex;
}
#initial {
    color: green;
}
.form2 {
    display: flex;
    flex-direction: column;
}
input[type=Name] {
    background-color: green;
    color: white;
}