body{
     background-image: url("./assets/beautiful-grass-540x540.jpg.webp");
     background-repeat: no-repeat;
     background-size: cover;
     
}
.main{  margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
            flex-direction: row;
            justify-content: space-around;
}
.container{ 
            margin-bottom: auto;
            margin-top: 100px;
            background-color:white;
            width: 400px;
            opacity: 0.7;
            border-radius:15px 15px 15px 15px;
            width: 30%;
            height: 500px;

}
.signin{margin-left: -50px;
        margin-top: 100px;
        height: 500px;
        margin-top: 100px;
        background-color: white;
        opacity: 0.7;
        border-radius: 15px 15px 15px 15px;
        width: 30%;
        
}
.header{margin-left: auto;
        margin-right: auto;
        font-size: medium;
        margin-top: 9px;
         margin-left: 100px;

        
}
::placeholder{color: white;
              font-weight: bolder;
              opacity: 1;}
button{ margin-left: 15px;
        margin-right: 15px;
        color: black;
        background-color:#FED545;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        font-weight:bolder;
        
}

/*.form-control label{ color: white;
                     display: inline-block;
                     margin-bottom: 6px;
}*/
.form-control input{ margin-left: 50px;
                     border-radius: 10px;
                     border: none;
                     height: 24px;
                     width: 250px;
                     margin-bottom: 10px;
                     align-items: center;
                     color: white;
                     font-weight: 1500;
                     font-size: medium;
                     background-color:#1ED760;
                     display: block;
}
.form-control_s input{margin-left: 50px;
                width: 250px;
                height: 24px;
                margin-bottom: 50px;
                color: white;
                background-color: #1ED760;
                align-items: center;
                border-radius: 10px;
                margin-left: 20px;
                border: none;
                font-size: medium;
                font-weight: 1500;
}
small{ 
                    color: red;
                    position: absolute;
                    visibility: hidden;
}

.button{
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        font-size:medium;
}
.container p{
              color: white;
}
.signin h2{
        margin-bottom: 80px;
        font-weight: 1500;
}