/*--nav bar styling--*/
nav{
    display: flex;
    justify-content: flex-end;
    background-color:#71A430;
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
}
nav>ul>li{
    margin-right: 20px;
    list-style: none;
    padding: 18px;
}

#nav p{
    padding: 18px;
}
nav ul li a{
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;

}
a:active, a:hover{
    border: 1px solid white;
    transition: .5s;
    background-color: white;
}



#image{
    background-image: url("./assets/landb2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    color: white;
    font-size: larger;
    

}
.heading{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.contents{
    text-align:left;
    font-size: larger;
}
#img2{
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: flex-end;
    font-size: larger;
}

