nav{
    display: flex;
    justify-content: flex-end;
    background-color:#71A430;
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
}
nav>ul>li{
    margin-right: 20px;
    list-style: none;
    padding: 18px;
}
#nav p{
    padding: 18px;
}

#image{
    background-image: url("./assets/landb2.jpg");
    color: white;
    height: 400px;
    background-repeat: no-repeat;
    align-items: center;
    
}
h1{
    align-content: center;
}